<!DOCTYPE html>
<html>
<head>
	<title>Home page</title>
	<link rel="stylesheet" type="text/css" href="/abc/css/style.css">
</head>
<body>
	<h1> Welcome, Employeee</h1>
	<h3>This is Employee Portal</h3>

	<a href="/employee/create">Create job</a> | 
	<a href="/Employee_home/userlist">User list</a> | 
	<a href="/logout">logout</a> 

</body>
</html>
